<!--<a [routerLink]="['/recipes']">Back</a>-->
<br>
<h2 class="page-header">Add Recipe</h2>
<form (submit)="onAddsubmit()">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" [(ngModel)]="title"   type="text" name="title">
  </div>
  <div class="form-group">
    <label>Owner</label>
    <input class="form-control" [(ngModel)]="name"  type="text" name="owner" disabled>
  </div>
  <div class="form-group">
    <label>Level of Difficulty</label>
    <select class="form-control" [(ngModel)]="level_of_difficulty"  type="text" name="level_of_difficulty">
      <option value="Beginner">Beginner</option>
      <option value="Intermediate">Intermediate</option>
      <option value="Expert">Expert</option>
    </select>
  </div>

  <div class="form-group">
    <label>Type</label>
    <select class="form-control" [(ngModel)]="type"  type="text" name="type">
      <option value="Meal">Meal</option>
      <option value="Snack">Snack</option>
      <option value="Drink">Drink</option>
    </select>
  </div>

  <div class="form-group">
    <label>Estimated Time to Cook</label>
    <input class="form-control" [(ngModel)]="time"  type="text" name="time">
  </div>

  <div class="form-group">
    <label>Ingredients</label>
    <textarea class="form-control" type="text" name="ingredient" style="white-space: pre-wrap;" [(ngModel)]="ingredient" rows="3"></textarea>
<!--    <input class="form-control" [(ngModel)]="ingredient"  type="text" name="ingredient">-->
  </div>

  <div class="form-group">
    <label>Instructions</label>
    <textarea class="form-control" type="text" name="instructions" style="white-space: pre-wrap;" [(ngModel)]="instructions" rows="3"></textarea>
    <!--    <input class="form-control" [(ngModel)]="ingredient"  type="text" name="ingredient">-->
  </div>

<!--  <div class="form-group">-->
<!--    <label >Example file input</label>-->
<!--    <input type="file" class="form-control-file" id="image" name="image" [(ngModel)]="image" >-->
<!--  </div>-->

  <div class="form-group">
    <label>Relative Youtube Video</label> &nbsp; <input type="checkbox" name="video_check" [(ngModel)]="has_link">
    <input *ngIf="has_link" class="form-control" [(ngModel)]="video_link"  type="text" name="video_link">
  </div>
  <input type="submit" value="submit" class="btn btn-success">
</form>


