<h2>User Info:</h2>
<br>
<div id="user-info" class="container" style="max-width: 80%; margin: 0">
  <div class="row" style="margin-right: 0">
  <div class="col"  >
    <div class="logo-image" style="min-width:40px;min-height:40px; width: 6rem;height: 6rem;margin-right: 0">
      <img src="{{user_photoURL}}" >
    </div>
  </div>
  <div class="col-9">
    <table class="table">
    <thead>
    </thead>
    <tbody>
    <tr>
      <td> <strong>Name:</strong> {{user_name}}</td>
    </tr>
    <tr>
      <td> <strong>Email:</strong> {{user_email}}</td>
    </tr>
    </tbody>
  </table>
  </div>
</div>
</div>
<br>
<h2>My Own Recipes:</h2>
<app-recipes [type]="'own'"></app-recipes>
<br>
<h2>My Favorite Recipes:</h2>
<app-recipes [type]="'favor'"></app-recipes>



