<h2>User Info:</h2>
<br>
<div id="user-info" class="container" style="max-width: 80%; margin: 0">
  <div class="row" style="margin-right: 0">
  <div class="col"  >
    <div class="logo-image" style="min-width:46px;min-height:46px; width: 6rem;height: 6rem;margin-right: 0">
      <img src="{{user_photoURL}}" >
    </div>
  </div>
  <div class="col-9">
    <table class="table">
    <thead>
    </thead>
    <tbody>
    <tr>
      <td> <strong>Name:</strong> {{user_name}}</td>
    </tr>
    <tr>
      <td> <strong>Email:</strong> {{user_email}}</td>
    </tr>
    </tbody>
  </table>
  </div>
</div>
</div>
<br>
<h2>User's Recipes:</h2>
<div id="my-recipes" class="container">
  <ul class="list-group" *ngIf="myRecipes">
    <li class="list-group-item" *ngFor="let recipe of myRecipes">
      <a [routerLink]="['/recipe/'+recipe.id]">{{recipe.title}}</a>
    </li>
  </ul>
</div>




