<br>
<div>
  <a [routerLink]="['/recipes']" class="btn btn-outline-info">Go Back</a>
</div>
<br>
<h2 *ngIf="recipe" class="page-header">
  <i *ngIf="recipe.type == 'Meal'" class="fas fa-drumstick-bite" style="font-size: 5rem;"></i>
  <i *ngIf="recipe.type == 'Snack'" class="fas fa-cookie" style="font-size: 5rem;"></i>
  <i *ngIf="recipe.type == 'Drink'" class="fas fa-cocktail" style="font-size: 5rem;"></i>
  {{recipe.title}}
</h2>
<br>

<iframe  id="video" width="0" height="0"
          src="" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
></iframe>

<br>


<div *ngIf="recipe" class="row">
<table class="table table-striped">
  <thead>
  </thead>
  <tbody>
  <tr >
    <td><strong>Owner:</strong></td>
    <td>{{recipe.owner_name}}</td>
  </tr>
  <tr >
    <td><strong>Type:</strong></td>
    <td>{{recipe.type}}</td>
  </tr>
  <tr >
    <td><strong>Estimated Time to Cook:</strong></td>
    <td>{{recipe.time}}</td>
  </tr>
  <tr *ngIf="recipe.video_link != ''">
    <td><strong>Relative Video Link:</strong></td>
    <td>{{recipe.video_link}}</td>
  </tr>
  <tr >
    <td><strong>Ingredients:</strong></td>
    <td style="white-space: pre-wrap">{{recipe.ingredient}}</td>
  </tr>
  <tr >
    <td><strong>Instructions:</strong></td>
    <td style="white-space: pre-wrap">{{recipe.instructions}}</td>
  </tr>
  </tbody>
</table>
  <div *ngIf="recipe.owner == fs.user_json['uid']" class="col-md-8">
    <a class="btn btn-default btn-light" [routerLink]="['/edit-recipe/'+id]">Edit</a>
    <a class="btn  btn-outline-danger" (click)="open('focusFirst')" >Delete</a>
  </div>
</div>

<p></p>




